legacy-peer-deps=true

init.author.name = warehouse read
init.author.email = services@yellow.ai
# an email is required to publish npm packages
email=services@yellow.ai
always-auth=true
//nexus.yellowmessenger.com/repository/warehouse/:_auth=d2FyZWhvdXNlX3JlYWQ6aTNaU2VoSHZaNg==
registry=https://nexus.yellowmessenger.com/repository/warehouse/